* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Spline Sans Mono", monospace;
  font-size: 10px;
  background: #333;
}

h1,
.calculator {
  user-select: none;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 50px 0;
  text-align: center;

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 300px) {
    font-size: 1.5rem;
  }
}

.calculator {
  background: #000;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  width: 80%;

  &__screen {
    background: #111;
    min-height: 20%;
    padding: 10px 20px;
    text-align: right;

    &--second-value {
      color: #666;
      font-size: 1.5rem;
      min-height: 30px;
      word-wrap: break-word;
    }

    &--main-value {
      font-size: 2.5rem;
      min-height: 50px;
      word-wrap: break-word;
    }
  }

  &__keyboard {
    display: flex;
    flex-wrap: wrap;
    height: 80%;

    .key {
      background: #eee;
      border: 1px solid #000;
      color: #333;
      cursor: pointer;
      flex-basis: 25%;
      flex-grow: 1;
      font-size: 1.5rem;
      font-weight: 700;
      height: 20%;
      line-height: 100px;
      text-align: center;
      transition: background-color 0.2s;

      &:last-of-type {
        flex-basis: 50%;
      }

      &:hover {
        background: #ccc;
      }
    }

    .reverse {
      position: relative;

      div {
        font-size: 1.5em;
        transform: rotate(20deg);
      }

      .fa-plus,
      .fa-minus {
        font-size: 1em;
      }

      .fa-plus {
        left: 20%;
        position: absolute;
        top: 20%;
      }

      .fa-minus {
        bottom: 20%;
        position: absolute;
        right: 20%;
      }
    }

    .red {
      background: #e00000;
      color: #fff;

      &:hover {
        background: #7c0000;
      }
    }

    .special {
      background: #f89e38;
      color: #fff;

      &:hover {
        background: #ff8800;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__screen {
      &--second-value {
        font-size: 1.15rem;
        min-height: 20px;
      }

      &--main-value {
        font-size: 2.25rem;
        min-height: 30px;
      }
    }

    &__keyboard {
      .key {
        font-size: 1rem;
        line-height: 75px;
      }
    }
  }

  @media screen and (max-width: 300px) {
    &__screen {
      &--second-value {
        font-size: 1rem;
        min-height: 15px;
      }

      &--main-value {
        font-size: 1.75rem;
        min-height: 25px;
      }
    }

    &__keyboard {
      .key {
        font-size: 1rem;
        line-height: 50px;
      }

      .reverse {
        div {
          font-size: 1em;
        }

        .fa-plus,
        .fa-minus {
          font-size: 0.75em;
        }
      }
    }
  }
}
