* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Spline Sans Mono", monospace;
  font-size: 10px;
  background: #333;
}

h1,
.calculator {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 50px 0;
  text-align: center;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }
}

.calculator {
  background: #000;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  width: 80%;
}
.calculator__screen {
  background: #111;
  min-height: 20%;
  padding: 10px 20px;
  text-align: right;
}
.calculator__screen--second-value {
  color: #666;
  font-size: 1.5rem;
  min-height: 30px;
  word-wrap: break-word;
}
.calculator__screen--main-value {
  font-size: 2.5rem;
  min-height: 50px;
  word-wrap: break-word;
}
.calculator__keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}
.calculator__keyboard .key {
  background: #eee;
  border: 1px solid #000;
  color: #333;
  cursor: pointer;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 700;
  height: 20%;
  line-height: 100px;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.calculator__keyboard .key:last-of-type {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.calculator__keyboard .key:hover {
  background: #ccc;
}
.calculator__keyboard .reverse {
  position: relative;
}
.calculator__keyboard .reverse div {
  font-size: 1.5em;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.calculator__keyboard .reverse .fa-plus,
.calculator__keyboard .reverse .fa-minus {
  font-size: 1em;
}
.calculator__keyboard .reverse .fa-plus {
  left: 20%;
  position: absolute;
  top: 20%;
}
.calculator__keyboard .reverse .fa-minus {
  bottom: 20%;
  position: absolute;
  right: 20%;
}
.calculator__keyboard .red {
  background: #e00000;
  color: #fff;
}
.calculator__keyboard .red:hover {
  background: #7c0000;
}
.calculator__keyboard .special {
  background: #f89e38;
  color: #fff;
}
.calculator__keyboard .special:hover {
  background: #ff8800;
}
@media screen and (max-width: 450px) {
  .calculator__screen--second-value {
    font-size: 1.15rem;
    min-height: 20px;
  }
  .calculator__screen--main-value {
    font-size: 2.25rem;
    min-height: 30px;
  }
  .calculator__keyboard .key {
    font-size: 1rem;
    line-height: 75px;
  }
}
@media screen and (max-width: 300px) {
  .calculator__screen--second-value {
    font-size: 1rem;
    min-height: 15px;
  }
  .calculator__screen--main-value {
    font-size: 1.75rem;
    min-height: 25px;
  }
  .calculator__keyboard .key {
    font-size: 1rem;
    line-height: 50px;
  }
  .calculator__keyboard .reverse div {
    font-size: 1em;
  }
  .calculator__keyboard .reverse .fa-plus,
.calculator__keyboard .reverse .fa-minus {
    font-size: 0.75em;
  }
}/*# sourceMappingURL=style.css.map */